<div class="container">
  <div class="row">
      <div class="col-md-4">
        <% if @user.avatar == nil %>
          <h1>尚無照片</h1>
        <% else %>
          <%= image_tag @user.avatar, class: "img-responsive center-block" %>
        <% end %>
      </div>
      <div class="col-md-8">
        <% if @user.name == nil %>
          <h1>未命名</h1>
        <% else %>
          <h1><%= @user.name %></h1>
        <% end %>
        <h3><%= @user.email %></h3>
        <hr>

        <p>已評論<%=@commented_restaurants_number%>間餐聽，收藏 <%= @favorite_restaurants_nd%> 間餐廳，追蹤<%= @followings_nd%> 人，<%= @followers_nd%> 個追蹤者。</p>

        <% if @user.intro == nil %>
          <h3>未新增自我介紹</h3>
        <% else %>
          <h3><%= @user.intro %></h3>   
        <% end %>
        <%= link_to 'Edit Profile', edit_user_path(@user), class: "btn btn-primary" %>
      </div>
  </div>
 
<br>
<div class="container">
  <div class="row">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">評價 <%= @commented_restaurants_number%> 間餐廳</h3>
        </div>
        <div class="panel-body">
          <% @commented_restaurants_nd.each do |restaurant| %>           
              <div class="my-restaurant">
                <%= image_tag @restaurant_a.find(restaurant).image, class: "img-responsive center-block" %>
                <h5><%= link_to @restaurant_a.find(restaurant).name, restaurant_path(@restaurant_a.find(restaurant)) %></h5>
              </div> 
          <% end %>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">收藏 <%= @favorite_restaurants_nd%> 間餐廳</h3>
        </div>
        <div class="panel-body">
          <% @favorite_restaurants.each do |restaurant| %>           
              <div class="my-restaurant">
                <%= image_tag restaurant.image, class: "img-responsive center-block" %>
                <h5><%= link_to restaurant.name, restaurant_path(restaurant) %></h5>
              </div> 
          <% end %>
        </div>
      </div>

     
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"> 追蹤<%= @followings_nd%> 人</h3>
        </div>
        <div class="panel-body">
          <% @followings.each do |user| %>           
              <div class="my-restaurant">
                <%= image_tag user.avatar, class: "img-responsive center-block" %>
                <h5><%=user.name%></h5>
              </div> 
          <% end %>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"> <%= @followers_nd%> 個追蹤者</h3>
        </div>
        <div class="panel-body">
          <% @followers.each do |user| %>           
              <div class="my-restaurant">
                <%= image_tag user.avatar, class: "img-responsive center-block" %>
                <h5><%=user.name%></h5>
              </div> 
          <% end %>
        </div>
      </div>
   
  </div>  
</div> 


